<h1>New curriculum</h1>

<%= render "form", curriculum: @curriculum %>

<br>

<div class="mb-4">
  <button class="btn btn-secondary" style="margin-right: 5px;">
  <%= link_to "Back to curriculums", curriculums_path, style: "color:white; text-decoration: none;" %>
  </button>
</div>
