<h1>Editing school</h1>

<%= render "form", school: @school %>

<br>

<div style="display: flex; gap: 1rem; margin-bottom: 25px;">
  <button class="btn btn-secondary"><%= link_to "Show", @school, style: "color:white; text-decoration: none;" %>
  </button>

  <button class="btn btn-secondary" style="margin-right: 5px;">
  <%= link_to "Back to students", schools_path, style: "color:white; text-decoration: none;" %>
  </button>
</div>
